@charset "UTF-8";

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* *** */

img {
  height: auto;
  max-width: 100%;
}

/* *** */

table, th, td {
  border: 1px solid gray;
  margin-bottom: 30px;
}

.table2, 
.table3, 
.table4, 
.table5, 
.table6, 
.table7, 
.table8, 
.table9 {
  border-collapse: collapse;
}

.table3 td {
  background-color: powderblue;
  border: 1px solid white;
}

.table4 td {
  border-color: powderblue;
}

.table5 td:nth-child(odd), 
.table5 th:nth-child(odd) {
  background-color: powderblue;
}

.table6 th {
  width: 33.33%;
}

.table6 td {
  width: 33.33%;
}

.table7 tr:nth-child(even) {
  background-color: powderblue;
}

.table8 tr:hover {
  background-color: powderblue;
}

/* *** */

.div-block-inline {
  background-color: powderblue;
  margin: 16px 0;
}

.span-block-inline {
  background-color: bisque;
}