@charset "UTF-8";

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  width: 95%;
}

details {
  border: 1px solid rgb(4, 170, 109);
  margin: 16px 0;
  padding: 8px;
}

summary {
  background-color: rgb(4, 170, 109);
  color: white;
  font-weight: 500;
  padding: 8px;
}


ul {
  list-style-type: disc;
}

li {
  padding: 4px;
}

li a {
  background-color: rgba(4, 170, 109, 0.5);
  font-weight: 500;
}

li:hover {
  background-color: rgba(4, 170, 109, 0.2);
}