@charset "UTF-8";

/* GERAL */
:root {
  --fonte-editor: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  margin-left: 16px;
  text-align: center;
}

.logo a {
  color: black;
  text-decoration: none;
}

.menu-horizontal {
  display: none;
}

.menu-horizontal ul {
  display: flex;
  list-style-type: none;
}

.menu-horizontal ul li {
  margin-right: 16px;
}

.menu-horizontal ul li a {
  color: black;
  text-decoration: none;
}

.menu-lateral-simbolo {
  color: black;
  cursor: pointer;
  display: block;
  margin-right: 16px;
}

/* INDEX.HTML */
div.materia {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 92vh;
  padding: 160px 8px;
  text-align: center;
  width: 100%;
}

div.materia p {
  line-height: 2;
  margin-bottom: 48px;
}

div.materia .numeros {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 2em;
  margin-right: 8px;
  padding: 8px 16px;
}

/* MENU LATERAL */
.menu-lateral-responsivo {
  position: fixed;
  left: 0;
  top: 42px;
  background-color: white;
  border-right: 1px solid black;
  height: 100vh;
  overflow-x: hidden;
  padding: 24px 0 80px;
  transition: 0.4s;
  width: 0;
  z-index: 1;
}

.largura {
  width: 200px;
}

.menu-lateral-conteudo {
  overflow: hidden;
  transition: 0.2s ease-out;
}

.menu-lateral-conteudo ol {
  list-style-type: none;
  padding: 0 8px;
}

.toggle summary {
  cursor: pointer;
}

.toggle ul {
  list-style-type: none;
}

.menu-lateral-conteudo ul li a {
  color: black;
  display: block;
  margin: 8px 0;
  padding: 0 8px;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
}

.menu-lateral-conteudo ul li a:hover {
  text-decoration-line: underline;
}

/* CONTAINER PRINCIPAL */
.container-principal {
  margin: 42px auto 24px;
  max-width: 90%;
  padding: 8px;
}

.container-assunto {
  /* border-bottom: 2px solid black; */
  /* border-top: 2px solid black; */
  background-color: #faf8f5;
  border: 1px solid #efece9;
  border-radius: 8px;
  color: #555554;
  margin: 32px 0;
  padding: 24px 8px;
  width: 98%;
}

.assunto-detalhes {
  line-height: 2.2;
  max-width: 100%;
}

.assunto-detalhes ul, ol {
  list-style-position: inside;
}

.codigo-e-navegador {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 8px auto;
  padding-bottom: 16px;
}

.codigo h3, .navegador h3 {
  background-color: #faf8f5;
  color: black;
  text-align: center;
}

.codigo {
  background-color: rgb(21,32,43);
  color: #ff9999;
  font-family: var(--fonte-editor);
}

.codigo-conteudo {
  height: 250px;
  margin-left: 8px;
  overflow: auto;
}

.amarelo {
  color: yellow;
  font-family: var(--fonte-editor)
}

.branco {
  color: white;
  font-family: var(--fonte-editor);
}

.cinza {
  color: #999;
  font-family: var(--fonte-editor);
}

.roxo {
  color: #c5a5c5;
  font-family: var(--fonte-editor);
}

.verde {
  color: greenyellow;
  font-family: var(--fonte-editor);
}

.navegador-conteudo {
  background-color: white;
  border: 1px solid black;
  height: 250px;
  overflow: auto;
}

.navegador-conteudo p {
  margin: 8px; 
}

/* PALAVRAS OU FRASES EM DESTAQUE */
.destaque {
  background-color: rgb(21,32,43);
  border-radius: 8px;
  color: #ff9999;
  font-family: var(--fonte-editor);
  overflow: auto;
  padding: 2px 4px;
}

/* ESTILO DOS EXEMPLOS */
.exemplo {
  border-radius: 8px;
  padding: 16px 8px;
  width: 100%;
}

.exemplo p {
  margin: 8px 0;
}

/* TAGS UTILIZADAS */
.tags-utilizadas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px auto 0;
}

.tags-utilizadas div {
  background-color: #eee;
  border-radius: 8px;
  font-weight: 500;
  margin: 8px;
  padding: 16px;
  text-align: center;
  width: 28%;
}


/* FOOTER */
footer {
  padding: 16px;
  text-align: center;
}